.courseWelcome {

    display: grid;
    grid-template-columns: 100%;
    z-index: -1;
    justify-content:  space-around;
    align-content: center;
    padding-top: 2vh 2vw 2vh 2vw;
    opacity: 0.9;
  
}

.courseWelcomeText1 {
  font-size: 5vh;
  color: whitesmoke;
}

.courseWelcomeText2 {
  font-size: 4vh;
  color: wheat;
}



.courseButton {
  margin: 3vh;
  width: 80vw;
  height: 10vh;
  background-color:  rgb(48, 18, 85);
  color: Gainsboro;
  font-size: 4vh;
  opacity: .8;
}

.processIcon{
  font-size: 15vh;
  padding:1vh 1vw 1vh 1vw;
}

.topTag {
  font-size: 3vh;
  border-radius: 3vh;
  margin-bottom: 0;
  padding-bottom: 0;
  align-self: center;
  color: bisque;
  font-family: Pompiere;

}

.setNumber {
  font-size:8vh;
  font-weight: bold;
  font-family: Pompiere;
}

.bottomTag {
  font-size: 3vh;
  border-radius: 3vh;
  margin-bottom: 0;
  padding-bottom: 0;
  align-self: center;
  color: bisque;
  font-family: Pompiere;

}

.pmpCenter {
  position: relative;
  top: 1%;
  align-self: center;
}

.courseSubmitDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.courseSubmit{
  width: 100px;
  margin: 0px;
  justify-content: space-around;
}

.pmpContainer{
  display: grid;
  gird-template-columns: 100%;
  /* background-color: #E1DDD8; */
  margin-top: .1em;
  height: auto;
  width: auto;
  padding: 10px;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;

}

.coursePageContainer{
  display: grid;
  gird-template-columns: 100%;
  /* background-color: #E1DDD8; */
  margin-top: .1em;
  height: auto;
  width: auto;
  padding: 10px;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;

}

.pmpHeader {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.pmpItem {
  margin: 10px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
  width: -webkit-fill-available;
  box-shadow: 5px 5px 2px black;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: transparent;
  color: rgb(277,204,232);

}

.custom .ant-collapse-content {
  background-color: #20211F;
  color: Aqua;
  border-color: Gray;
}

.custom .ant-collapse-item {
  background-color: transparent;
  color : Aqua;
}

.custom headerClass {
  color: Aqua;
}

.inputOutputContainer {
  display: grid;
  grid-template-columns: 50%;
  margin-top: .1em;
  height: auto;
  width: auto;
  padding: 10px;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}

.inputOutputSubContainer {
  display: grid;
  grid-template-columns: 48% 48%;
  margin-top: 1em;
  height: auto;
  width: auto;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-around;
}

.inputOutputBox {
  display: block;
  justify-content: flex-start;
  align-content: center;
}

.descBox {
  display: block;
  justify-content: flex-start;
  align-content: center;
  padding: 1px;
  font-family: monospace;
  font: Arial;
  font-weight: lighter;
}

.subProcessIOText {
  margin-bottom: 0px;
    padding: 2px;
    color: LightSalmon;
}
.subProcessContainerIO {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 2px;
  padding: 1px;
  border-width: .5px;
  border-color: Gray;
  border-radius: 5px;
  background-color: transparent;
  height: auto;
  width: auto;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}



.subProcessButton {
  margin: 10px;
  width: 300px;
  height: 50px;
  background-color:  DarkSlateGray;
  color: Gainsboro;
  font-size: 20px;
}

.subProcessContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  align-content: space-around;
  background-color: DarkSlateGray;
  margin: 5px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  height: auto;
  box-shadow: 3px 3px 3px black;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

}

.subProcessContainer:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #272826;
  color: Gold;
}


.processContainter {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.setTopContainer {
  display: grid;
  grid-template-columns: 100%;
  /* padding: 1em; */
  align-items: center;
  align-content: center;
  justify-content: space-between;
  align-self: center;
}

.processBoxTop{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 1vh 1vw 1vh 1vw;
}

.setContainer {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
  align-content: center;
}

.subProcessTextHead {
  font-size: 18px;
  font-variant: small-caps;
  font-family: monospace;
  border-radius: 2px;
  background: DimGray;
  align-self: center;
  padding-top: 2px;
  margin-bottom: 0px;
  color: PeachPuff;
}
.inputOutputHeader {
  display: grid;
  margin: 10px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
  height: auto;
  width: auto;
  box-shadow: 3px 3px 3px black;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #20211F;
  font-weight: lighter;
  color: PeachPuff;

}

.buttonIcon {
    font-size: 20px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.headerText {
  font-size: 24px;
  align-self: center;
  padding-top: 2%;
}

.buttonIcon:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  color: white;

}

.processOuterBox {
  display: grid;
  border-color: NavajoWhite;
  background-color: DarkSlateGray;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  height: 30vh;
  width: 30vh;
  align-items: center;
  box-shadow: 3px 3px 3px black;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  opacity: .8;
}

.processOuterBox:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #272826;
  color: Gold;
}

.processText {
  font: calibri;
  font-family: sans-serif;
  color: Aqua;
  font-size: 4vh;
}

.subProcessText {
  font-size: 5vh;
  font-family: sans-serif;
  color: Aqua;
  align-self: center;
  padding: 5px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  justify-content: flex-start;
}

.subProcessIcon {
  font-size: 15vh;
}

.headerClass {
  background-color: transparent;
  color: LemonChiffon;
  margin-left: 2px;
  margin-right: 2px;
  font-style: oblique;
  color: transparent;
}

@media screen and (orientation: portrait) {

  .courseWelcomeText1 {
    font-size: 4vh;
    color: whitesmoke;
  }
  
  .courseWelcomeText2 {
    font-size: 3vh;
    color: wheat;
  }

  .courseButton {
    margin: 2vh;

    font-size: 3vh;
  }
  
  
.processOuterBox {

  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border-width: 1px;
  height: 30vw;
  width: 30vw;

}


.topTag {
  font-size: 4vw;
  border-radius: 4vw;
  margin: 0vh 1vw 0vh 1vw;
}

.setNumber {
  font-size:8vw;

}

.bottomTag {
  font-size: 4vw;
  border-radius: 4vw;


}


.setContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-content: center;
}

.processIcon{
  font-size: 15vw;
  padding:1vh 1vw 1vh 1vw;
}

.subProcessIcon {
  font-size: 15vw;
}

.subProcessText {
  font-size: 5vw;
}
.processText{
  font-size: 4vw;
}

}
