.buttonContainer {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  /*grid-template-columns: 100%;*/
}

.matchTypeContainer{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  margin: 5px;

}
.matchTypeQDiv {
  background-color: #222;
  margin-right: 5px;
    border-radius: 10px;
}

.matchTypeHeadText {
  font-size: 20px;
    color: Aqua;
    padding: 10px;
}

.matchTypeChoiceText {
  font-size: 18px;
  color: Aqua;
  padding: 3%;
  margin-bottom: 0em;
  background-color: SteelBlue;
}

.matchTypeChoiceTextDisable {
  font-size: 18px;
  color: Aqua;
  padding: 3%;
  margin-bottom: 0em;
  background-color: Gray;
}

.matchTypeQText {
  font-size: 18px;
  color: Aqua;
  padding: 4%;
  margin-bottom: 0em;
}


.matchTypeQTextA {
  font-size: 18px;
  color: Gray;
  padding: 4%;
  margin-bottom: 0em;
}

.matchTypeQTextB {
  font-size: 18px;
  color: Orange;
  padding: 4%;
  margin-bottom: 0em;
}

.matchTypeA {
  background-color: #222;
      border-radius: 10px;
}
.submitButton{
  width: 200px;
  height: 50px;
  margin: 10px;
  font-family: monospace;
  font-size: 25px;
  color: Aqua;
  justify-content: space-between;
  align-self: center;
}

.ant-dropdown-menu {
  background-color: DarkSlateGray;
  display: grid;
  text-align: center;
}

.listTypeHeader {
  background-color: #222;
  padding: 20px;
  margin: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: Khaki;
  font-size: 24px;
}
.listTopContainer {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
}

.listTypeContainer {
  display: grid;
  grid-template-columns: 10% 50% 40%;
}

.listTypeQuest1 {

  margin: 5px ;
  padding: 5px;
  color: Aqua;
  background-color: #400;
  border-radius: 5px;
  align-content: space-around;
  justify-content: space-around;

}

.listTypeQuest2 {

  margin: 5px ;
  padding: 5px;
  color: Khaki;
  background-color: #222;
  border-radius: 5px;
  align-content: space-around;
  justify-content: space-around;

}

.listTypeQuest3 {

  margin: 5px ;
  padding: 5px;
  color: crimson;
  background-color: #400;
  border-radius: 5px;
  align-content: space-around;
  justify-content: space-around;

}

.listTypeButton {

  margin: 2px ;
  padding: 5px;
  color: Aqua;
  background-color: #222 ;
  border-radius: 5px;
  align-content: space-around;
  justify-content: space-around;

}



.questionContainer{

  position: absolute;
  top: 10%;
  bottom: 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
  width: 100%;
  padding: 5px;
  border-color: white;
  /* background-color: DarkSlateGray; */
  background-color: transparent;
  border-radius: 10px;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat,
}

/*.questionContainer{

  display: inline-block;
  height: 80%;
  width: 95%;
  padding: 5px;
  border-color: white;
  background-color: #333;
  border-radius: 10px;
  align-self: center;
  justify-content: center;

}*/

.questionWithPic {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-repeat: no-repeat,
}

.questionPic {
  width: auto;
  height: auto;
  align-self: center;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  -moz-user-select:none;
  -o-user-select: none;
  user-select: none;
}

.questionBox {
  display: grid;
  grid-template-columns: 100%;
  height: auto;
  font-size: 24px;
  font-weight: lighter;
  width: auto;
  font-style: normal;
  margin: 1%;
  padding: 5px;
  border-color: Aqua;
  border-radius: 5px;
  align-content: center;
  justify-content: space-around;
  align-self: center;
  align-items: center;;
  color: Aqua;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-user-select:none;
  -moz-user-select:none;
}

.answerContainer {
  display: grid;
  grid-template-columns: 90%;
  padding: 10px;
  grid-template-rows: auto;
  align-items: stretch;
  justify-content: space-around;
  margin: 5px;
}

.answerBoxType1 {
  height: 90%;
  width: auto;
  font-size: 20px;
  margin: .3em .3em .3em .3em ;
  padding: 3%;
  color: Khaki;
  background-color: transparent;
  /*background-color: #433;*/
  border-radius: 5px;
  border: 1px solid Aqua;
  /*border-color: Aqua;
  border-width: 2px;*/
  align-content: space-around;
  justify-content: space-around;
  /* align-self: stretch; */
  text-overflow: inherit;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;


}

.answerBoxType1:hover {
  background-color: #443;
  color: white;
   -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.answerBoxSel {
  height: 90%;
  width: auto;
  font-size: 20px;
  margin: .3em .3em .3em .3em ;
  padding: 3%;
  color: #111;
  background-color: #aaa;
  border-radius: 5px;
  align-content: space-around;
  justify-content: space-around;
  text-overflow: inherit;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

}



@media screen and (max-width: 550px) {

  .ant-dropdown-menu {
      display: grid;

  }

  .matchTypeHeadText {
    font-size: 16px;
  }

  .matchTypeChoiceText {
    font-size: 14px;
  }
  .matchTypeChoiceTextDisable {
    font-size: 14px;
  }
  .matchTypeQText {
    font-size: 14px;
  }
  .matchTypeQTextA {
    font-size: 14px;
  }
  .matchTypeQTextB {
    font-size: 14px;
  }

  .matchTypeContainer{
    grid-template-columns: 50% 50%;
  }

  .questionContainer{
    grid-template-columns: 100%;
    background-size: cover;
  }
  .questionBox {
    height: auto;
    font-size: 18px;
    font-weight: lighter;
    width: auto;
    font-style: normal;
    margin: 2px;
    padding: 2px;
    border-color: Aqua;
  }

  .answerBoxType1 {
    font-size: 16px;
    margin: .4em .4em .4em .4em ;
    padding: 4%;

  }

  .answerBoxSel {
    font-size: 16px;
    margin: .4em .4em .4em .4em ;
    padding: 4%;
  }

  .answerContainer{
    grid-template-columns: 90%;
    padding: 2px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
  }

  .listTopContainer{
    grid-template-columns: 100%;
  }
}


@media screen and (min-width: 550px) and (max-width:850px) {



  .questionBox {
    height: auto;
    font-size: 20px;
    font-weight: lighter;
    width: auto;
    font-style: normal;
    margin: 2px;
    padding: 2px;
    border-color: Aqua;
  }
  .answerBoxType1 {
    font-size: 18px;
    margin: .3em .3em .3em .3em ;
    padding: 4%;

  }
  .answerBoxSel {
    font-size: 18px;
    margin: .3em .3em .3em .3em ;
    padding: 4%;
  }
  .answerContainer{
    grid-template-columns: 90%;
    padding: 1px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-around;
    margin: 1px;
  }
  .listTopContainer{
    grid-template-columns: 100%;
  }

}
@media screen and (min-width: 700px) and (max-width: 1200) {

  .questionBox {
    height: auto;
    font-size: 24px;
    font-weight: lighter;
    width: auto;
    font-style: normal;
    margin: 2px;
    padding: 2px;
    border-color: Aqua;
  }

  .answerBoxType1 {
    font-size: 20px;
  }
  .answerBoxSel {
    font-size: 20px;
  }
  .answerContainer{
    grid-template-columns: 90%;
    padding: 4px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-around;
    margin: 4px;
  }
}

@media screen and (min-height: 1400px) and (max-width: 1000px) {


  .answerContainer{
    grid-template-columns: 95%;
    padding: 2px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-around;
    margin: 2px;
  }





}
