.App {
  text-align: center;
  background-image: url('./components/media/back3p.jpg');
  background-size: cover;
  overflow: scroll;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Switch-button {
  background-color: rgb(44, 12, 12);
  height: auto;
  padding: 10px;
  color: white;
  cursor: pointer;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (min-height: 1400px) and (max-width: 1000px) {

  .App {
    zoom: 1.7;

  }
}

@media screen and (min-width: 1400px) and (max-height: 1000px) {

  .App {
    zoom: 1.5;

  }
}
